pretrainedmodels
https://github.com/VincentStimper/mclahe/archive/numpy.zip
efficientnet_pytorch
timm==0.1.26
torch
torch_optimizer
batchgenerators
albumentations

numpy
scipy
SimpleITK
nibabel
tensorboardX
